<header>
	<section>
		<h1 data-logo>
			<a href="#art">
				<span class="a">A</span>rt,
			</a>
			<a href="#media">
				<span class="m">M</span>e<span class="d">d</span>ia,
			</a>
			<a href="#science">
				<span class="s">S</span>c<i class="i">i</i>e<span class="n">n</span>c<span class="e">e</span>.
			</a>
		</h1>
	</section>
	<section data-tagline>
		<a href="#about">
			<p>
				{{- page.subtitle | newline_to_br | markdownify | remove: '<p>' | remove: '</p>' -}}
			</p>
		</a>
	</section>
	<menu>
		<li>
			<a href="#art" tabindex="-1"></a>
		</li>
		<li>
			<a href="#media" tabindex="-1"></a>
		</li>
		<li>
			<a href="#science" tabindex="-1"></a>
		</li>
	</menu>
	<aside>
		<a href="#art" tabindex="-1">
			{% include arrow.svg %}
		</a>
	</aside>
</header>
