<header>
	<section
		id="logo"
		>
		<h1>
			<a
				href="#art"
				id="art--header"
				>
				<span class="a">A</span>rt,
			</a>
			<a
				href="#media"
				id="media--header"
				>
				<span class="m">M</span>e<span class="d">d</span>ia,
			</a>
			<a
				href="#science"
				id="science--header"
				>
				<span class="s">S</span>c<i class="i">i</i>e<span class="n">n</span>ce
			</a>
		</h1>
	</section>
	<section
		id="tagline"
		>
		<p>
			<a
				href="#about"
				id="about--header"
				>
				{{- page.subtitle | markdownify | newline_to_br -}}
			</a>
		</p>
	</section>
</header>
