{% capture favicon %}{% include favicon.svg %}{% endcapture %}
{% assign favicon = favicon | replace: '"', "'" | uri_escape %}
{% assign subtitle = page.subtitle | newline_to_br | strip_newlines | replace: "<br />", " " | strip %}
{% assign intro = content | split: '<h1> ' | first | strip_html | strip %}
{% assign description = subtitle | append: ". " | append: intro %}
<title>
	{{- page.title -}}
</title>
<meta
	name="description"
	content="{{ description }}"
	>
<meta
	name="theme-color"
	content="#fefefe"
	media="(prefers-color-scheme: light)"
	>
<meta
	name="theme-color"
	content="#000"
	media="(prefers-color-scheme: dark)"
	>
<link
	href="{{ '/assets/icons/favicon.ico' | relative_path }}"
	rel="icon"
	sizes="64x64"
	type="image/x-icon"
	>
<link
	data-favicon
	href="data:image/svg+xml, {{ favicon }}"
	rel="icon"
	type="image/svg+xml"
	>
<link
	href="{{ '/assets/icons/touch.png' | relative_path }}"
	rel="apple-touch-icon"
	>
