> section {
	margin-top:     calc(var(--margin--vertical) * 4);
	padding-bottom: var(--margin--vertical);

	@include landscape {
		grid-row:   1; // With the header.
		margin-top: calc(-1 * var(--tagline--height) - var(--margin--vertical));
	}



	// Temp.
	p {
		font-style: italic;
		max-width:  80ch;

		+ p {
			margin-top: var(--margin);
		}
	}
}
