> section {
	padding: var(--margin);

	@include landscape {
		padding-left:  initial; // Grid gaps take over.
		padding-right: initial;
		padding-top:   initial;
	}



	// Temp.
	p {
		font-style: italic;
		max-width:  80ch;

		+ p {
			margin-top: var(--margin);
		}
	}
}
