> section {
	margin-top:     calc(var(--margin) * 4);
	padding-bottom: var(--margin);
	padding-left:   var(--margin); // Grid gaps take over.
	padding-right:  var(--margin);

	@include landscape {
		padding-left:  initial; // Grid gaps take over.
		padding-right: initial;
	}



	// Temp.
	p {
		font-style: italic;
		max-width:  80ch;

		+ p {
			margin-top: var(--margin);
		}
	}
}
