> aside {
	--nav--scroll--offset: calc(var(--tagline--height) + var(--margin) * 2 - 0.2rem);

	margin-bottom:  calc(-1 * var(--margin));
	padding-bottom: var(--margin);
	padding-left:   var(--margin);
	padding-right:  var(--margin);
	position:       sticky;
	top:            var(--nav--scroll--offset);

	@include landscape {
		display:         flex;
		flex-direction:  column;
		justify-content: end;
		padding:         initial; // Grid gaps take over.
		position:        initial;
		top:             initial;
	}

	> ul {
		@extend %type--layout;

		--typography--size:    2.4rem;
		--typography--leading: 1;

		align-items:    start;
		display:        flex;
		flex-direction: column;
		gap:            var(--typography--between);

		@include landscape {
			bottom:     var(--margin);
			margin-top: var(--margin);
			position:   sticky;
		}

		@include breakpoint(768) {
			--typography--size: 3.6rem;
		}

		> li {
			> a {
				@extend %link--element;
			}
		}
	}
}
