& {
	--color:             white;
	--color--background: var(--color--accent);

	--color--accent: white; // To matte the header transition, so it isn’t doubling up.



	// Base transitions.
	&,
	> main > header,
	> footer > aside {
		background-color:           var(--color--background);
		transition-duration:        var(--color--transition);
		transition-property:        background-color;
		transition-timing-function: ease-in-out;
	}

	@include landscape {
		> main > header,
		> footer > aside {
			background-color: initial;
		}
	}

	// Text/icons.
	[href="#art"],
	[href="#media"],
	[href="#science"],
	p,
	svg {
		color:                      var(--color);
		fill:                       var(--color);
		stroke-width:               var(--stroke--width);
		stroke:                     var(--color);
		transition-delay:           calc(var(--color--transition) / 4);
		transition-duration:        calc(var(--color--transition) / 2);
		transition-property:        background-color, color, fill, stroke;
		transition-timing-function: linear;
	}



	// States.
	&.art { --color--accent: var(--color--art); }
	&.media { --color--accent: var(--color--media); }
	&.science { --color--accent: var(--color--science); }



	&.main {
		--color:             black;
		--color--background: white;

		--link--highlight: var(--color--link);

		&,
		> main > header,
		> footer > aside {
			transition-duration: var(--color--transition);
		}

		&.art {
			[href="#art"] { --color: var(--color--accent); }
			[href="#media"] { --color: black; } // There are briefly multiple classes, so turn off the others.
			[href="#science"] { --color: black; }
		}

		&.media {
			[href="#art"] { --color: black; }
			[href="#media"] { --color: var(--color--accent); }
			[href="#science"] { --color: black; }
		}

		&.science {
			[href="#art"] { --color: black; }
			[href="#media"] { --color: black; }
			[href="#science"] { --color: var(--color--accent); }
		}
	}



	&.invert {
		&,
		> main > header,
		> footer > aside {
			transition-duration: 7800ms; // Ballparking the JS.
		}

		@include landscape {
			> main > header,
			> footer > aside {
				transition-duration: initial;
			}
		}
	}
}
