& {
	--color:             white;
	--color--background: var(--color--cycle, var(--color--accent));

	--color--accent: white; // To matte the header transition, so it isn’t doubling up.



	// Color “swatch” for the JS favicon.
	&:before {
		content:  '';
		position: absolute;
	}



	// Base transitions.
	&,
	&:before,
	> main > header,
	> main > header > menu:before,
	> footer > aside {
		background-color:           var(--color--background);
		transition-duration:        var(--color--transition);
		transition-property:        background-color;
		transition-timing-function: var(--color--transition--curve);
	}

	&:before {
		transition-duration: 0ms;
	}

	// Text.
	[href="#art"],
	[href="#media"],
	[href="#science"],
	h2,
	h3,
	p {
		color:                      var(--color);
		transition-duration:        0ms, var(--color--transition), var(--link--hover--transition);
		transition-property:        background-color, color, filter; // Background is `active`; filter is for `hover`.
		transition-timing-function: var(--color--transition--curve--tight), var(--color--transition--curve--tight), linear;
	}

	menu [href="#art"],
	menu [href="#media"],
	menu [href="#science"],
	ul > li {
		&:before {
			background-color:           var(--color);
			transition-duration:        var(--color--transition), var(--link--hover--transition);
			transition-property:        background-color, filter;
			transition-timing-function: var(--color--transition--curve--tight), linear;
		}
	}

	// Icons.
	svg {
		fill:         currentcolor;
		stroke-width: var(--stroke--width);
		stroke:       currentcolor;
	}

	// Jump icons.
	nav [href="#intro"],
	nav [href="#about"],
	nav [href="#top"] {
		color:                      var(--color);
		opacity:                    0;
		transition-duration:        var(--color--transition), var(--color--transition), var(--link--hover--transition);
		transition-property:        opacity, visibility, filter;
		transition-timing-function: linear;
		visibility:                 hidden;
	}

	nav [href="#intro"], // As specific as above.
	nav [href="#top"] {
		--color: white; // Just opacity/visibility changes.
	}

	nav [href="#about"] {
		--color: black;

		transition-delay: calc(var(--color--transition) / 2), calc(var(--color--transition) / 2), 0ms; // After background is halfway.
	}

	nav [href="#intro"] {
		transition-delay: var(--color--transition), var(--color--transition), 0ms;
	}

	nav [href="#top"] {
		transition-delay: calc(var(--color--transition) * 2), calc(var(--color--transition) * 2), 0ms;
	}



	// States.
	&.art {
		--color--accent: var(--color--art);

		&.main #art h2 { --color: var(--color--accent) }
	}

	&.media {
		--color--accent: var(--color--media);

		&.main #media h2 { --color: var(--color--accent) }
	}

	&.science {
		--color--accent: var(--color--science);

		&.main #science h2 { --color: var(--color--accent) }
	}


	&.main {
		--color:             black;
		--color--background: white;

		--link--highlight:      var(--color--link);
		--link--hover--opacity: var(--color--hover);


		&,
		> main > header,
		> main > header > menu:before,
		> footer > aside {
			transition-duration: var(--color--transition);
		}

		// “Swatch” goes to the accent.
		&:before {
			--color--background: var(--color--accent);

			transition-duration: 0ms;
		}

		// Set the active color for logo/pagination.
		&.art [href="#art"],
		&.media [href="#media"],
		&.science [href="#science"] {
			--color: var(--color--accent);

			filter: opacity(1) brightness(1.1); // No hover on current, boost colors on white.
		}

	}



	&.cycling:not(.main) { // More specific.
		&,
		&:before,
		> main > header,
		> main > header > menu:before,
		> footer > aside {
			transition-duration: var(--color--transition--cycle);
		}

		// Markdown links, too.
		p > a {
			transition-duration: var(--color--transition), var(--color--transition--cycle), var(--link--hover--transition);
		}
	}



	&.top {
		nav [href="#intro"] {
			opacity:    1;
			visibility: visible;
		}
	}

	&.header:not(.top) {
		nav [href="#intro"] {
			transition-delay:    0ms;
			transition-duration: var(--color--transition), var(--color--transition), var(--link--hover--transition);
		}
	}

	&.main {
		nav [href="#about"] {
			opacity:          1;
			visibility:       visible;
		}
	}

	&.header,
	&.footer {
		nav [href="#about"] {
			transition-delay:    0ms;
			transition-duration: calc(var(--color--transition) / 2), calc(var(--color--transition) / 2), var(--link--hover--transition); // No color change, go quicker.
		}
	}

	&.bottom {
		nav [href="#top"] {
			opacity:          1;
			transition-delay: var(--color--transition), var(--color--transition), 0ms;
			visibility:       visible;
		}
	}



	// Differentiate loading with JS.
	@at-root {
		.loading & {
			--color--background: white;

			opacity: 0;

			&:before {
				--color--background: transparent;
			}
		}

		.loading &:not(.main) {
			nav [href="#intro"],
			nav [href="#top"] {
				transition-delay:    0ms;
				transition-duration: 0ms;
			}
		}
	}
}
