@use "utilities" as *;
@use 'typography';
@use 'links';



// Files.
@font-face {
	font-family: 'Calibre';
	font-stretch: normal;
	font-style:   normal;
	font-weight:  300;
	src: url('../fonts/calibre--light.woff2') format('woff2');
}

@font-face {
	font-family: 'Calibre';
	font-stretch: normal;
	font-style:   normal;
	font-weight:  400;
	src: url('../fonts/calibre--regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Calibre';
	font-stretch: normal;
	font-style:   italic;
	font-weight:  400;
	src: url('../fonts/calibre--regular--italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Heldane';
	font-stretch: normal;
	font-style:   normal;
	font-weight:  400;
	src: url('../fonts/heldane--regular.woff2') format('woff2');
}



// Typefaces.
%--shoulders {
	--typography--shoulder:      calc(1 - var(--typography--cap-height)); // Remainder/overhang.
	--typography--shoulder--top: calc(var(--typography--shoulder) - var(--typography--shoulder--bottom));
}

%--calibre {
	@extend %--shoulders;

	--typography--cap-height:       0.614; // In em.
	--typography--x-height:         0.444;
	--typography--shoulder--bottom: 0.154; // Vertical centering in Chrome’s bounding box, across most sizes.

	font-family: "Calibre", sans-serif;
}

%--heldane {
	@extend %--shoulders;

	--typography--cap-height:       0.642;
	--typography--x-height:         0.446;
	--typography--shoulder--bottom: 0.184;

	font-family: "Heldane", serif;
}



// Weights.
%--light {
	--typography--weight: 300;
}

%--regular {
	--typography--weight: 400;
}

%font--calibre--light {
	@extend %--calibre;
	@extend %--light;

	--typography--inset--left:  -0.079; // Optical insets, left edge of capital "M".
	--typography--inset--right: -0.066; // Right edge of lowercase “m” (since lines tend to end lowercase).

	--typography--underline:         0.040; // Height of crossbar on lowercase “e”.
	--typography--underline--shift: -0.070; // Shift down from baseline, to line up with bottom of descenders.
	--typography--underline--skip:   0.050; // Can’t exceed narrowest descender width, with this shadow implementation.
}

%font--calibre--regular {
	@extend %--calibre;
	@extend %--regular;

	--typography--inset--left:  -0.073;
	--typography--inset--right: -0.061;

	--typography--underline:         0.057;
	--typography--underline--shift: -0.027;
	--typography--underline--skip:   0.076;
}

%font--heldane--regular {
	@extend %--heldane;
	@extend %--regular;

	--typography--inset--left:  -0.019;
	--typography--inset--right: -0.014;
}



// Our “variable” font.
%font--weight-adjust {
	-webkit-text-stroke-width: var(--typography--weight-adjust);
	letter-spacing:            var(--typography--weight-adjust);

	@include browser-specific(safari) {
		--typography--weight-shift: calc(-1 * var(--typography--weight-adjust));

		-webkit-text-stroke: initial; // Safari’s rendering has gaps.
		filter: // Use a shadow, instead.
			opacity(0.333) // Tone down the crispiness.
			drop-shadow(var(--typography--weight-shift) 0 0 var(--color))
			drop-shadow(0 0 0 var(--color))
			drop-shadow(0 var(--typography--weight-shift) 0 var(--color))
			;
		transition-duration:        var(--color--transition);
		transition-property:        color, filter; // So it fades with the rest.
		transition-timing-function: var(--color--transition--curve--tight);

		@include retina {
			filter: // Resolution fixes most of the “crispiness.”
				drop-shadow(var(--typography--weight-shift) 0 0 var(--color))
				drop-shadow(0 var(--typography--weight-shift) 0 var(--color))
				;
		}
	}



	// Collision with markdown links, bleh.
	a:not(._):not(._) { // Bump specificity.
		@include browser-specific(chrome, firefox) {
			--typography--decoration-thickness: calc(var(--typography--underline) * 1em + var(--typography--weight-adjust, 0em));
			--typography--text-shadow:          calc(var(--typography--underline--skip) * 1em + var(--typography--weight-adjust, 0em) / 2);
			--typography--underline-offset:     calc(var(--typography--underline--shift) * 1em + var(--typography--weight-adjust, 0em) * 2);
		}

		@include browser-specific(safari) {
			-webkit-text-stroke:        initial; // Clear overrides, below.
			paint-order:                initial;
			text-decoration-skip-ink:   auto;
			transition-timing-function: var(--color--transition--curve--tight); // No background colors.

			&:after {
				opacity: 0.333; // Prevent the tap-highlight from tripling up.
			}
		}
	}
}

// Main markdown.
%font--markdown {
	h2 {
		--typography--size: var(--typography--size--tagline);

		margin-bottom: var(--margin);

		&:not(:first-child) {
			margin-top: calc(var(--margin) * 2);
		}
	}

	h3 {
		@extend %font--calibre--light;
		@extend %font--weight-adjust;

		--typography--leading: var(--typography--leading--tagline);
		--typography--size:    var(--typography--size--intro);

		--typography--weight-adjust: 0.0075em; // Ballpark weight of tagline/h2.

		&:not(:only-child):not(:first-child) {
			margin-top: var(--section--spacing);
		}

		&:not(:only-child):not(:last-child) {
			margin-bottom: var(--section--spacing);
		}
	}

	p,
	blockquote,
	ul {
		+ p,
		+ blockquote,
		+ ul {
			margin-top: var(--margin);
		}
	}

	blockquote {
		--typography--scale: 0.9; // Slightly down, same baseline.

		font-style: italic;
	}

	ul {
		> li {
			align-items: start;
			display:     flex;
			gap:         var(--margin);

			&:not(:first-child) {
				margin-top: var(--margin);
			}

			&:before {
				background-color: var(--color);
				border-radius:    50%;
				content:          '';
				display:          block;
				flex-shrink:      0;
				height:           var(--pagination--size--scaled);
				width:            var(--pagination--size--scaled);
			}

			> p {
				strong {
					font-style: italic; // “Where we’re going, we don’t need bolds.”
				}
			}
		}
	}

	a {
		@extend %link--text;

		--typography--decoration-thickness: calc(var(--typography--underline) * 1em);
		--typography--text-shadow:          calc(var(--typography--underline--skip) * 1em);
		--typography--underline-offset:     calc(var(--typography--underline--shift) * 1em);

		text-decoration-color:      var(--color);
		text-decoration-line:       underline;
		text-decoration-thickness:  var(--typography--decoration-thickness);
		text-underline-offset:      calc(-1 * var(--typography--underline-offset) + var(--typography--decoration-thickness) + var(--typography--underline-offset--extra, 0em));
		transition-duration:        var(--color--transition);
		transition-timing-function: var(--color--transition--curve--tight), var(--color--transition--curve);

		@include browser-specific(firefox, safari) {
			--typography--underline-offset--extra: calc(var(--typography--decoration-thickness) / 2);
		}

		@include browser-specific(safari) {
			-webkit-text-stroke-color: var(--color--background);
			-webkit-text-stroke-width: calc(var(--typography--decoration-thickness) * 2);
			paint-order:               stroke fill; // Fill on top!
			text-decoration-skip-ink:  none;
			transition-property:       text-decoration-color, -webkit-text-stroke-color;
		}

		@include browser-specific(chrome, firefox) { // Chrome doesn’t support `paint-order`, so use a shadow.
			text-shadow: // Clear the descenders, if we know the background color.
				var(--color--background) var(--typography--text-shadow) 0, // “East”
				var(--color--background) var(--typography--text-shadow) calc(var(--typography--text-shadow) / 2), // “Southeast”
				var(--color--background) 0 calc(var(--typography--text-shadow) / 2), // “South”
				var(--color--background) calc(-1 * var(--typography--text-shadow)) calc(var(--typography--text-shadow) / 2), // “Southwest”
				var(--color--background) calc(-1 * var(--typography--text-shadow)) 0, // “West”
				var(--color--background) calc(-1 * var(--typography--text-shadow)) calc(-1 * var(--typography--text-shadow) / 2), // “Northwest”
				var(--color--background) 0 calc(-1 * var(--typography--text-shadow) / 2), // “North”
				var(--color--background) var(--typography--text-shadow) calc(-1 * var(--typography--text-shadow) / 2) // “Northeast”
				;
			transition-property: text-decoration-color, text-shadow;
		}
	}
}
