// Files.
@font-face {
	font-family: 'Calibre';
	font-stretch: normal;
	font-style:   normal;
	font-weight:  300;
	src: url('../fonts/calibre--light.woff2') format('woff2');
}

@font-face {
	font-family: 'Calibre';
	font-stretch: normal;
	font-style:   italic;
	font-weight:  300;
	src: url('../fonts/calibre--light--italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Calibre';
	font-stretch: normal;
	font-style:   normal;
	font-weight:  400;
	src: url('../fonts/calibre--regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Calibre';
	font-stretch: normal;
	font-style:   italic;
	font-weight:  400;
	src: url('../fonts/calibre--regular--italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Heldane';
	font-stretch: normal;
	font-style:   normal;
	font-weight:  400;
	src: url('../fonts/heldane--regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Heldane';
	font-stretch: normal;
	font-style:   italic;
	font-weight:  400;
	src: url('../fonts/heldane--regular--italic.woff2') format('woff2');
}



// Typefaces.
%--shoulders {
	--typography--shoulder:      calc(1 - var(--typography--cap-height)); // Remainder/overhang.
	--typography--shoulder--top: calc(var(--typography--shoulder) - var(--typography--shoulder--bottom));
}

%--calibre {
	@extend %--shoulders;

	--typography--cap-height:       0.614; // In em.
	--typography--x-height:         0.444;
	--typography--shoulder--bottom: 0.154; // Vertical centering in Chrome’s bounding box, across most sizes.

	font-family: "Calibre", sans-serif;
}

%--heldane {
	@extend %--shoulders;

	--typography--cap-height:       0.642;
	--typography--x-height:         0.446;
	--typography--shoulder--bottom: 0.184;

	font-family: "Heldane", serif;
}



// Weights.
%--light {
	--typography--weight: 300;
}

%--regular {
	--typography--weight: 400;
}

%font--calibre--light {
	@extend %--calibre;
	@extend %--light;

	--typography--inset--left:  -0.079; // Optical insets, left edge of capital "M".
	--typography--inset--right: -0.066; // Right edge of lowercase “m” (since lines tend to end lowercase).
}

%font--calibre--regular {
	@extend %--calibre;
	@extend %--regular;

	--typography--inset--left:  -0.073;
	--typography--inset--right: -0.061;
}

%font--heldane--regular {
	@extend %--heldane;
	@extend %--regular;

	--typography--inset--left:  -0.019;
	--typography--inset--right: -0.014;
}



// Main markdown.
%font--markdown {
	> h2 {
		--typography--size: var(--typography--size--tagline);

		margin-bottom: var(--margin);

		&:not(:first-child) {
			margin-top: calc(var(--margin) * 2);
		}
	}

	> p {
		+ p {
			margin-top: var(--margin);
		}
	}
}
