> footer {
	--typography--size: var(--typography--size--footer);

	row-gap:               calc(var(--margin) * 2);
	grid-template-columns: 1fr;
	margin-top:            var(--section--spacing);

	@include landscape {
		grid-template-columns: var(--column--ratio);
	}
}
