%--header--transform {
	transform:                  scale(var(--scroll--scale));
	transition-duration:        var(--scroll--scale--duration);
	transition-property:        transform;
	transition-timing-function: linear;
	will-change:                transform;
}


> header {
	// The distance from the initial, centered logo until it is “stuck”.
	--header--scroll: calc(
			(
				var(--vh--initial, 100vh)
				- var(--logo--height)
				- var(--tagline--height)
				- var(--margin--vertical) * 3
			)
			/ 2
		);

	// The collapsed/scrolled header sticky offset.
	--header--scroll--offset: calc(
			-100vh
			+ var(--logo--height--scaled)
			+ var(--tagline--height)
			+ var(--margin--vertical) * 3
		);

	display:         flex;
	flex-direction:  column;
	height:          calc(100vh + var(--header--scroll));
	justify-content: space-between;
	padding-bottom:  var(--margin--vertical);
	padding-left:    var(--margin);
	padding-right:   var(--margin);
	padding-top:     var(--margin--vertical);
	position:        sticky;
	top:             calc(var(--header--scroll--offset) - var(--header--scroll));

	@include landscape {
		padding-left:  initial; // Grid gaps take over.
		padding-right: initial;
		top:           calc(-1 * var(--header--scroll));
	}



	// The “logo”.
	> section:first-of-type {
		flex-shrink:   0;
		height:        var(--logo--height--scaled);
		margin-bottom: calc(var(--tagline--height) + var(--margin--vertical));
		margin-top:    var(--header--scroll);
		position:      sticky;
		top:           var(--margin--vertical);

		@include landscape {
			margin-bottom: calc(var(--vh--initial, 100vh) - var(--logo--height--scaled) - var(--margin--vertical) * 2);
		}

		> h1 {
			@extend %--header--transform;
			@extend %font--heldane--regular;

			--typography--size:    var(--typography--size--logo);
			--typography--leading: 0.8;

			align-items:      start;
			display:          flex;
			flex-direction:   column;
			position:         absolute;
			transform-origin: 0px -0.025em; // Optical shift down, for “A“ overshoot.

			> a {
				@extend %link--text;

				// Counteract the scaling on the focus outline.
				--link--outline--override: calc((1 + (var(--logo--scale) * var(--logo--scroll))) * var(--link--outline));

				border-bottom:  initial; // Fix overlaps.
				border-top:     initial;
				margin-bottom:  initial;
				margin-top:     initial;
				pointer-events: none;
				position:       relative;

				// Better click/tap target.
				&:before {
					content:        '';
					display:        block;
					height:         100%;
					pointer-events: auto;
					position:       absolute;
					width:          100%;
				}
			}



			// Logo kerning tweaks.
			[href="#art"] {
				.a { letter-spacing: -0.04em; } // Tighten the “Ar”.
			}

			[href="#media"] {
				.m { letter-spacing: -0.04em; } // “Me”.
				.d { letter-spacing:  0.02em; } // “di“.
			}

			[href="#science"] {
				.s { letter-spacing: -0.01em; } // “Sc“.
				.i { letter-spacing: -0.015em; } // “ie“.
				.n { letter-spacing: -0.02em; } // “nc“.
				.e { letter-spacing: -0.02em; } // “e.“
			}
		}
	}



	// The “tagline”.
	> section:last-of-type {
		bottom:        var(--margin--vertical);
		display:       flex;
		flex-shrink:   0;
		position:      sticky;

		@include landscape {
			margin-top: calc(-1 * var(--tagline--height));
		}

		> a {
			@extend %link--element;

			> p {
				--typography--leading: var(--typography--leading--tagline);
				--typography--size:    var(--typography--size--tagline);
			}
		}
	}



	// The pagination dots.
	> ul {
		@extend %--header--transform;

		display:          flex;
		flex-direction:   column;
		gap:              calc(var(--pagination--size) * 0.8);
		position:         fixed;
		right:            var(--margin);
		top:              var(--margin);
		transform-origin: top right;

		> li {
			> a {
				@extend %link--element;

				border-radius: 50%;

				&:active {
					border-radius: 50%;
				}

				&:before {
					background-color: var(--color);
					border-radius:    50%;
					content:          '';
					display:          block;
					height:           var(--pagination--size);
					transition:       inherit; // From the links, in color.
					width:            var(--pagination--size);
				}
			}
		}
	}
}
