> header {
	// The distance from the initial, centered logo until it is “stuck”.
	--header--scroll: calc(
			(
				var(--vh--initial, 100vh)
				- var(--logo--height)
				- var(--tagline--height)
				- var(--margin) * 3
			)
			/ 2
		);

	// The collapsed/scrolled header sticky offset.
	--header--scroll--offset: calc(
			-100vh
			+ var(--logo--height--scaled)
			+ var(--tagline--height)
			+ var(--margin) * 3
		);

	background:      white; // For now.
	display:         flex;
	justify-content: space-between;
	flex-direction:  column;
	gap:             var(--margin);
	height:          calc(100vh + var(--header--scroll));
	padding:         var(--margin);
	position:        sticky;
	top:             calc(var(--header--scroll--offset) - var(--header--scroll));

	// The “logo”.
	section:first-child {
		margin-top: var(--header--scroll);
		position:   sticky;
		top:        var(--margin);

		> h1 {
			@extend %font--heldane--regular;

			--typography--leading: calc(5/6);
			--typography--size:    9.6rem;

			align-items:                start;
			display:                    flex;
			flex-direction:             column;
			position:                   absolute;
			transform-origin:           0px -0.025em; // Optical shift down, for “A“ overshoot.
			transform:                  scale(calc(1 - (1 - var(--logo--scale)) * var(--logo--scroll)));
			transition-duration:        200ms;
			transition-property:        transform;
			transition-timing-function: linear;
			will-change:                transform;

			@include breakpoint(320) {
				--typography--size: 8rem;
			}

			@include breakpoint(768) {
				--typography--size: 14.4rem;
			}



			// Logo kerning tweaks.
			#art--header {
				.a { letter-spacing: -0.04em; } // Tighten the “Ar”.
			}

			#media--header {
				.m { letter-spacing: -0.04em; } // “Me”.
				.d { letter-spacing:  0.02em; } // “di“.
			}

			#science--header {
				.s { letter-spacing: -0.01em; } // “Sc“.
				.i { letter-spacing: -0.01em; } // “ie“.
				.n { letter-spacing: -0.01em; } // “nc“.
			}
		}
	}

	// The “tagline”.
	> section:last-child {
		bottom:   var(--margin);
		position: sticky;

		> p {
			--typography--size:    2.4rem;
			--typography--leading: 1;

			@include breakpoint(768) {
				--typography--size: 3.6rem;
			}
		}
	}
}
