@use "utilities" as *;



%--outline {
	outline-color:  var(--color);
	outline-style:  solid;
	outline-width:  var(--link--outline--override, var(--link--outline));
}

%--focus {
	-webkit-tap-highlight-color: var(--link--highlight);
	cursor:                     pointer;
	transition-duration:        var(--link--hover--transition);
	transition-property:        opacity;
	transition-timing-function: linear;


	&:active {
		background-color: var(--link--highlight);
		border-radius:    calc(var(--link--enlargement) / 2);
	}

	&:focus {
		outline: none;
		z-index: 1;
	}

	@include hover {
		opacity: var(--link--hover--opacity);
	}

	@at-root {
		.focus &:not(:disabled):focus {
			@extend %--outline;
		}
	}
}



%link--enlargement {
	margin:  calc(var(--link--enlargement) * -1);
	padding: var(--link--enlargement);
}

%link--element {
	@extend %--focus;
	@extend %link--enlargement;

	display:        flex;
	flex-direction: column;
	width:          fit-content;
}

%link--text {
	@extend %--focus;

	border-color:        transparent;
	border-left-width:   var(--link--enlargement);
	border-right-width:  var(--link--enlargement);
	border-bottom-width: calc(var(--link--enlargement) / 2); // Clear underlines.
	border-top-width:    0;
	border-style:        solid;
	margin-left:         calc(-1 * var(--link--enlargement));
	margin-right:        calc(-1 * var(--link--enlargement));
	position:            relative;

	&:active {
		--color--active: var(--link--highlight);

		background-color: initial; // Override above.
		border-radius:    initial;
	}

	&:after {
		background-color: var(--color--active);
		border-radius:    calc(var(--link--enlargement) / 2);
		bottom:           calc(var(--link--enlargement) / -2);
		content:          '';
		left:             calc(-1 * var(--link--enlargement));
		pointer-events:   none;
		position:         absolute;
		right:            calc(-1 * var(--link--enlargement));
		top:              0;
	}
}
