> main {
	--main--spacing: calc(
			(
				100vh
				- var(--logo--height--scaled)
				- var(--tagline--height)
				- var(--margin) * 3
			)
			/ 2
		);

	--section--spacing: calc(var(--margin) * 4);

	--section--height: calc(
			100vh
			- var(--logo--height--scaled)
			- var(--tagline--height)
			- var(--margin) * 5
			- var(--section--spacing)
			- 0.8rem
		);



	grid-area:     main;
	padding-left:  var(--margin);
	padding-right: var(--margin);
	padding-top:   var(--main--spacing);



	@include landscape {
		--main--spacing: calc(
				var(--logo--height)
				- var(--logo--height--scaled)
				+ var(--margin) / 2
			);

		--section--height: calc(
				100vh
				- var(--tagline--height)
				- var(--margin) * 2
				- var(--section--spacing)
			);

		padding-left:  initial; // Grid gaps take over.
		padding-right: initial;
	}



	#art,
	#media,
	#science {
		min-height: var(--section--height);
	}

	#media,
	#science {
		margin-top: var(--section--spacing);
	}
}
