> main {
	--main--spacing: calc(
			(
				100vh
				- var(--logo--height--scaled)
				- var(--tagline--height)
				- var(--margin) * 3
			)
			/ 2
		);

	grid-area:     main;
	padding-left:  var(--margin);
	padding-right: var(--margin);
	padding-top:   var(--main--spacing);

	@include landscape {
		--main--spacing: calc(
				var(--logo--height)
				- var(--logo--height--scaled)
				+ var(--margin) / 2
			);

		padding-left:  initial; // Grid gaps take over.
		padding-right: initial;
	}



	// Temp.
	p {
		max-width: 80ch;

		+ p {
			margin-top: calc(var(--margin) * 4);
		}
	}
}
