> section {
	--nouns--height: calc(
			var(--vh--initial, 100vh)
			- var(--logo--height--scaled)
			- var(--tagline--height)
			- var(--margin--vertical) * 5
			- var(--nouns--spacing)
			- 0.8rem
		);

	--nouns--spacing: calc(var(--margin--vertical) * 4);

	margin-top:     var(--nouns--spacing);
	padding-bottom: var(--nouns--spacing);

	@include landscape {
		--nouns--height: calc(
				var(--vh--initial, 100vh)
				- var(--tagline--height)
				- var(--margin--vertical) * 2
				- var(--nouns--spacing)
			);

		grid-row:       2; // After the header.
		margin-top:     initial;
		padding-bottom: calc(var(--nouns--spacing) + var(--tagline--height) + var(--margin--vertical));
	}



	#art,
	#media,
	#science {
		min-height: var(--nouns--height);
	}

	#media,
	#science {
		margin-top: var(--nouns--spacing);
	}
}
