> section {
	// These need revising.
	--section--spacing: calc(
			(
				100vh
				- var(--logo--height--scaled)
				- var(--tagline--height)
				- var(--margin) * 3
			)
			/ 2
		);

	--nouns--spacing: calc(var(--margin) * 4);

	--nouns--height: calc(
			100vh
			- var(--logo--height--scaled)
			- var(--tagline--height)
			- var(--margin) * 5
			- var(--nouns--spacing)
			- 0.8rem
		);

	padding-bottom: var(--nouns--spacing);
	padding-left:   var(--margin);
	padding-right:  var(--margin);
	padding-top:    var(--section--spacing);

	@include landscape {
		--section--spacing: calc(
				var(--logo--height)
				- var(--logo--height--scaled)
				+ var(--margin) / 2
			);

		--nouns--height: calc(
				100vh
				- var(--tagline--height)
				- var(--margin) * 2
				- var(--nouns--spacing)
			);

		margin-top:    100vh;
		padding-left:  initial; // Grid gaps take over.
		padding-right: initial;
	}



	#art,
	#media,
	#science {
		min-height: var(--nouns--height);
	}

	#media,
	#science {
		margin-top: var(--nouns--spacing);
	}
}
