> section {
	--section--spacing: calc(
			(
				100vh
				- var(--logo--height--scaled)
				- var(--tagline--height)
				- var(--margin--vertical) * 3
			)
			/ 2
		);

	--nouns--spacing: calc(var(--margin--vertical) * 4);

	--nouns--height: calc(
			var(--vh--initial, 100vh)
			- var(--logo--height--scaled)
			- var(--tagline--height)
			- var(--margin--vertical) * 5
			- var(--nouns--spacing)
			- 0.8rem
		);

	padding-bottom: var(--nouns--spacing);
	padding-top:    var(--section--spacing);

	@include landscape {
		--section--spacing: calc(
				var(--logo--height)
				- var(--logo--height--scaled)
				+ var(--margin--vertical) / 2
			);

		--nouns--height: calc(
				var(--vh--initial, 100vh)
				- var(--tagline--height)
				- var(--margin--vertical) * 2
				- var(--nouns--spacing)
			);

		grid-row:       2; // After the header.
		padding-bottom: calc(var(--nouns--spacing) + var(--tagline--height) + var(--margin--vertical));
	}



	#art,
	#media,
	#science {
		min-height: var(--nouns--height);
	}

	#media,
	#science {
		margin-top: var(--nouns--spacing);
	}
}
