& {
	--logo--height--scaled: calc(var(--logo--height) * var(--logo--scale, 1));

	--scroll--scale:           calc(1 - (1 - var(--logo--scale)) * var(--logo--scroll));
	--scroll--scale--duration: 50ms;

	--header--height: calc(
		var(--logo--height) +
		var(--tagline--height) +
		var(--margin--vertical) * 3
	);

	--header--height--scrolled: calc(
			var(--logo--height--scaled) +
			var(--tagline--height) +
			var(--margin--vertical) * 3
		);

	--header--height--scrolled--footer: calc(
			var(--tagline--height) +
			var(--links--height) +
			var(--margin--vertical) * 3
		);

	// The distance from the initial, centered logo until it is “stuck”.
	--header--scroll: calc((var(--vh--initial, 100vh) - var(--header--height)) / 2);



	--anchor--offset: var(--margin--vertical);

	--anchor--offset--section: calc(var(--anchor--offset) + var(--header--height--scrolled));
	--anchor--offset--about:   calc(var(--anchor--offset) + var(--header--height--scrolled--footer));



	--section--spacing: calc(var(--margin--vertical) * 4);
	--section--overlap: 4.8rem; // One and a half lines of body copy.

	--section--height: calc(
		var(--vh--initial, 100vh) -
		var(--header--height--scrolled) -
		var(--section--spacing) -
		var(--anchor--offset) -
		var(--section--overlap)
	);



	@include landscape {
		--anchor--offset--section: var(--margin--vertical);
		--anchor--offset--about:   calc(var(--margin--vertical) - 0.1rem); // Hide overshoots.

		--section--spacing: calc(var(--margin--vertical) * 6);
		--section--overlap: calc(var(--tagline--height) + var(--margin--vertical)); // Tagline stuck to bottom.

		--section--height: calc(
			var(--vh--initial, 100vh) -
			var(--section--spacing) -
			var(--anchor--offset) -
			var(--section--overlap)
		);
	}
}
