> figure {
	position:                   fixed;
	right:                      calc((100vw - var(--page--width)) / 2 + var(--margin));
	top:                        var(--margin--vertical);
	transform-origin:           top right;
	transform:                  scale(var(--scroll--scale));
	transition-duration:        var(--scroll--scale--duration);
	transition-property:        transform;
	transition-timing-function: linear;
	will-change:                transform;

	> a {
		@extend %link--element;

		&,
		&:active {
			border-radius: 50%; // Round the link highlight.
		}

		> svg {
			// TODO Derive this from the type, move up to :root.
			--stroke--width: 0.175rem;

			--icon--size:    calc(var(--tagline--height) * 1 / var(--logo--scale) + var(--link--enlargement) * 3);

			height:       var(--icon--size);
			margin:       calc(-1.5 * var(--link--enlargement));
			overflow:     visible;
			stroke-width: var(--stroke--width);
			stroke:       var(--color);
			width:        var(--icon--size);

			@include breakpoint(768) { --stroke--width: 0.225rem; }
		}
	}
}
