@charset "UTF-8";

*:where(:not(audio, canvas, iframe, img, svg, video):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a,
button {
	cursor: revert;
}

details summary,
menu,
ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
}

table {
	border-collapse: collapse;
}

textarea {
	white-space: revert;
}

::placeholder {
	all: unset;
}

/* Disclosure triangles. */
details ::marker,
details ::-webkit-details-marker {
	display: none;
}

:root {
	/* Our base size is 10/16, so that 1rem = 10px. Easy maths. */
	font-size: 62.5%;
}

:root * {
	/* Type rendering. */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	font-feature-settings: "liga", "kern";
	font-kerning: normal;
	text-rendering: optimizeLegibility;
}

em,
em em em {
	font-style: italic;
}

em em {
	font-style: normal;
}

del {
	font-style: line-through;
}

nobr,
.nowrap {
	white-space: nowrap;
}

body > main > section:first-of-type ul > li,
body > main > section:last-of-type > section ul > li,
body > footer > section ul > li,
body > footer > footer > section:last-child ul > li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	--typography--tracking--override: var(--typography--tracking);
	--typography--letter-spacing: calc(var(--typography--tracking--override, var(--typography--tracking, 0)) * 1em);
	--typography--margin--left: calc(var(--typography--inset--left) * 1em);
	--typography--margin--right: calc(var(--typography--inset--right) * 1em);
	font-weight: var(--typography--weight);
	letter-spacing: var(--typography--letter-spacing);
	--typography--font-size: calc(var(--typography--scale, 1) * var(--typography--size--override, var(--typography--size)));
	--typography--line-height: calc(var(--typography--leading) * var(--typography--size--override, var(--typography--size)));
	--typography--leading--remainder: calc((var(--typography--leading) - 1) / 2);
	--typography--shift: calc((var(--typography--shoulder) + var(--typography--shoulder--top)) * (1 - var(--typography--scale, 1)));
	--typography--leading--bottom: calc(var(--typography--shoulder--bottom) + var(--typography--leading--remainder) + var(--typography--shift, 0));
	--typography--leading--top: calc(var(--typography--shoulder--top) + var(--typography--leading--remainder) - var(--typography--shift, 0));
	--typography--margin--bottom: calc(-1 * var(--typography--leading--bottom) * var(--typography--size--override, var(--typography--size)));
	--typography--margin--top: calc(-1 * var(--typography--leading--top) * var(--typography--size--override, var(--typography--size)));
	color: var(--color);
	display: block;
	font-size: var(--typography--font-size);
	line-height: var(--typography--line-height);
	margin-left: var(--typography--margin--left);
	margin-right: var(--typography--margin--right);
	max-width: calc(100% - var(--typography--margin--left) - var(--typography--margin--right) + 1px);
	overflow-wrap: break-word;
}

@supports (display: flow-root) {

	body > main > section:first-of-type ul > li,
	body > main > section:last-of-type > section ul > li,
	body > footer > section ul > li,
	body > footer > footer > section:last-child ul > li,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		display: flow-root;
	}
}

body > main > section:first-of-type ul > li:before,
body > main > section:last-of-type > section ul > li:before,
body > footer > section ul > li:before,
body > footer > footer > section:last-child ul > li:before,
body > main > section:first-of-type ul > li:after,
body > main > section:last-of-type > section ul > li:after,
body > footer > section ul > li:after,
body > footer > footer > section:last-child ul > li:after,
h1:before,
h1:after,
h2:before,
h2:after,
h3:before,
h3:after,
h4:before,
h4:after,
h5:before,
h5:after,
h6:before,
h6:after,
p:before,
p:after {
	content: "";
	display: block;
	visibility: hidden;
}

body > main > section:first-of-type ul > li:before,
body > main > section:last-of-type > section ul > li:before,
body > footer > section ul > li:before,
body > footer > footer > section:last-child ul > li:before,
h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before,
p:before {
	margin-top: calc(var(--typography--margin--top) - var(--typography--margin--top--shift, 0) * var(--typography--size--override, var(--typography--size)));
}

body > main > section:first-of-type ul > li:after,
body > main > section:last-of-type > section ul > li:after,
body > footer > section ul > li:after,
body > footer > footer > section:last-child ul > li:after,
h1:after,
h2:after,
h3:after,
h4:after,
h5:after,
h6:after,
p:after {
	margin-bottom: var(--typography--margin--bottom);
}

h1 + h1,
h1 + h2,
h1 + h3,
h1 + h4,
h1 + h5,
h1 + h6,
h1 + p,
h2 + h1,
h2 + h2,
h2 + h3,
h2 + h4,
h2 + h5,
h2 + h6,
h2 + p,
h3 + h1,
h3 + h2,
h3 + h3,
h3 + h4,
h3 + h5,
h3 + h6,
h3 + p,
h4 + h1,
h4 + h2,
h4 + h3,
h4 + h4,
h4 + h5,
h4 + h6,
h4 + p,
h5 + h1,
h5 + h2,
h5 + h3,
h5 + h4,
h5 + h5,
h5 + h6,
h5 + p,
h6 + h1,
h6 + h2,
h6 + h3,
h6 + h4,
h6 + h5,
h6 + h6,
h6 + p,
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
p + p {
	--layout--typography--font-size: var(--layout--typography--size, var(--typography--size--override, var(--typography--size)));
	--layout--typography--line-height: var(--layout--typography--leading, var(--typography--leading)) * var(--layout--typography--font-size);
	--layout--typography--extra-lines: var(--layout--typography--line-height) * var(--typography--extra-lines, 0);
	--layout--typography--leading--between: var(--layout--typography--font-size) * (var(--layout--typography--leading, var(--typography--leading)) - 1);
	--layout--typography--shoulder: var(--layout--typography--font-size) * var(--typography--shoulder);
	--layout--typography--leading-shoulder: calc(var(--layout--typography--extra-lines) + var(--layout--typography--leading--between) + var(--layout--typography--shoulder));
	margin-top: var(--layout--typography--leading-shoulder);
}

body > footer > aside > ul,
body > main > section:first-of-type ul,
body > main > section:last-of-type > section ul,
body > footer > section ul,
body > footer > footer > section:last-child ul {
	--typography--font-size: calc(var(--typography--scale, 1) * var(--typography--size--override, var(--typography--size)));
	--typography--line-height: calc(var(--typography--leading) * var(--typography--size--override, var(--typography--size)));
	--typography--cap: calc(var(--typography--cap-height) * 1em);
	--typography--between: calc(var(--typography--font-size) * (var(--typography--leading) + var(--typography--shoulder) - 1));
	line-height: var(--typography--line-height);
	font-size: var(--typography--font-size);
}

.focus body > main > section:first-of-type a:not(:disabled):focus,
body > main > section:first-of-type .focus a:not(:disabled):focus,
.focus body > main > section:last-of-type > section a:not(:disabled):focus,
body > main > section:last-of-type > section .focus a:not(:disabled):focus,
.focus body > footer > section a:not(:disabled):focus,
body > footer > section .focus a:not(:disabled):focus,
.focus body > footer > footer > section:last-child a:not(:disabled):focus,
body > footer > footer > section:last-child .focus a:not(:disabled):focus,
.focus body > main > header > section:last-of-type > a:not(:disabled):focus,
.focus body > main > header > menu > li > a:not(:disabled):focus,
.focus body > footer > aside > ul > li > a:not(:disabled):focus,
.focus body nav > a:not(:disabled):focus,
body .focus nav > a:not(:disabled):focus {
	outline-color: var(--color);
	outline-style: solid;
	outline-width: var(--link--outline--override, var(--link--outline));
}

body > main > header > section:first-of-type > h1 > a,
body > main > section:first-of-type a,
body > main > section:last-of-type > section a,
body > footer > section a,
body > footer > footer > section:last-child a,
body > main > header > section:last-of-type > a,
body > main > header > menu > li > a,
body > footer > aside > ul > li > a,
body nav > a {
	-webkit-tap-highlight-color: var(--link--highlight);
	cursor: pointer;
}

body > main > section:first-of-type a:active,
body > main > section:last-of-type > section a:active,
body > footer > section a:active,
body > footer > footer > section:last-child a:active,
body > main > header > section:last-of-type > a:active,
body > main > header > menu > li > a:active,
body > footer > aside > ul > li > a:active,
body nav > a:active {
	background-color: var(--link--highlight);
	border-radius: calc(var(--link--enlargement) / 2);
}

body > main > section:first-of-type a:focus,
body > main > section:last-of-type > section a:focus,
body > footer > section a:focus,
body > footer > footer > section:last-child a:focus,
body > main > header > section:last-of-type > a:focus,
body > main > header > menu > li > a:focus,
body > footer > aside > ul > li > a:focus,
body nav > a:focus {
	outline: none;
	z-index: 1;
}

body > main > header > section:last-of-type > a,
body > main > header > menu > li > a,
body > footer > aside > ul > li > a,
body nav > a {
	margin: calc(var(--link--enlargement) * -1);
	padding: var(--link--enlargement);
}

body > main > header > section:last-of-type > a,
body > main > header > menu > li > a,
body > footer > aside > ul > li > a,
body nav > a {
	display: flex;
	flex-direction: column;
	width: fit-content;
}

body > main > header > section:first-of-type > h1 > a,
body > main > section:first-of-type a,
body > main > section:last-of-type > section a,
body > footer > section a,
body > footer > footer > section:last-child a {
	border-color: transparent;
	border-left-width: var(--link--enlargement);
	border-right-width: var(--link--enlargement);
	border-bottom-width: calc(var(--link--enlargement) / 2);
	border-top-width: 0;
	border-style: solid;
	margin-left: calc(-1 * var(--link--enlargement));
	margin-right: calc(-1 * var(--link--enlargement));
	position: relative;
}

body > main > section:first-of-type a:active,
body > main > section:last-of-type > section a:active,
body > footer > section a:active,
body > footer > footer > section:last-child a:active {
	--color--active: var(--link--highlight);
	background-color: initial;
	border-radius: initial;
}

body > main > header > section:first-of-type > h1 > a:after,
body > main > section:first-of-type a:after,
body > main > section:last-of-type > section a:after,
body > footer > section a:after,
body > footer > footer > section:last-child a:after {
	background-color: var(--color--active);
	border-radius: calc(var(--link--enlargement) / 2);
	bottom: calc(var(--link--enlargement) / -2);
	content: "";
	left: calc(-1 * var(--link--enlargement));
	pointer-events: none;
	position: absolute;
	right: calc(-1 * var(--link--enlargement));
	top: 0;
}

@font-face {
	font-family: "Calibre";
	font-stretch: normal;
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/calibre--light.woff2") format("woff2");
}

@font-face {
	font-family: "Calibre";
	font-stretch: normal;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/calibre--regular.woff2") format("woff2");
}

@font-face {
	font-family: "Calibre";
	font-stretch: normal;
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/calibre--regular--italic.woff2") format("woff2");
}

@font-face {
	font-family: "Heldane";
	font-stretch: normal;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/heldane--regular.woff2") format("woff2");
}

body > main > header > section:first-of-type > h1,
:root,
body > main > section:first-of-type h3,
body > main > section:last-of-type > section h3,
body > footer > section h3,
body > footer > footer > section:last-child h3 {
	--typography--shoulder: calc(1 - var(--typography--cap-height));
	--typography--shoulder--top: calc(var(--typography--shoulder) - var(--typography--shoulder--bottom));
}

:root,
body > main > section:first-of-type h3,
body > main > section:last-of-type > section h3,
body > footer > section h3,
body > footer > footer > section:last-child h3 {
	--typography--cap-height: 0.614;
	--typography--x-height: 0.444;
	--typography--shoulder--bottom: 0.154;
	font-family: "Calibre", sans-serif;
}

body > main > header > section:first-of-type > h1 {
	--typography--cap-height: 0.642;
	--typography--x-height: 0.446;
	--typography--shoulder--bottom: 0.184;
	font-family: "Heldane", serif;
}

body > main > section:first-of-type h3,
body > main > section:last-of-type > section h3,
body > footer > section h3,
body > footer > footer > section:last-child h3 {
	--typography--weight: 300;
}

body > main > header > section:first-of-type > h1,
:root {
	--typography--weight: 400;
}

body > main > section:first-of-type h3,
body > main > section:last-of-type > section h3,
body > footer > section h3,
body > footer > footer > section:last-child h3 {
	--typography--inset--left: -0.079;
	--typography--inset--right: -0.066;
	--typography--underline: 0.040;
	--typography--underline--shift: -0.070;
	--typography--underline--skip: 0.050;
}

:root {
	--typography--inset--left: -0.073;
	--typography--inset--right: -0.061;
	--typography--underline: 0.057;
	--typography--underline--shift: -0.027;
	--typography--underline--skip: 0.076;
}

body > main > header > section:first-of-type > h1 {
	--typography--inset--left: -0.019;
	--typography--inset--right: -0.014;
}

body > footer > footer p,
body > main > section:first-of-type h3,
body > main > section:last-of-type > section h3,
body > footer > section h3,
body > footer > footer > section:last-child h3 {
	-webkit-text-stroke-width: var(--typography--weight-adjust);
	letter-spacing: var(--typography--weight-adjust);
}

@supports (-webkit-hyphens: none) {

	body > footer > footer p,
	body > main > section:first-of-type h3,
	body > main > section:last-of-type > section h3,
	body > footer > section h3,
	body > footer > footer > section:last-child h3 {
		--typography--weight-shift: calc(-1 * var(--typography--weight-adjust));
		-webkit-text-stroke: initial;
		filter: opacity(0.333) drop-shadow(var(--typography--weight-shift) 0 0 var(--color)) drop-shadow(0 0 0 var(--color)) drop-shadow(0 var(--typography--weight-shift) 0 var(--color));
		transition-duration: var(--color--transition);
		transition-property: color, filter;
		transition-timing-function: var(--color--transition--curve--tight);
	}

	@media (-webkit-min-device-pixel-ratio: 2) {

		body > footer > footer p,
		body > main > section:first-of-type h3,
		body > main > section:last-of-type > section h3,
		body > footer > section h3,
		body > footer > footer > section:last-child h3 {
			filter: drop-shadow(var(--typography--weight-shift) 0 0 var(--color)) drop-shadow(0 var(--typography--weight-shift) 0 var(--color));
		}
	}
}

@supports (-moz-appearance: meterbar) {

	body > footer > footer p a:not(._):not(._),
	body > main > section:first-of-type h3 a:not(._):not(._),
	body > main > section:last-of-type > section h3 a:not(._):not(._),
	body > footer > section h3 a:not(._):not(._) {
		--typography--decoration-thickness: calc(var(--typography--underline) * 1em + var(--typography--weight-adjust, 0em));
		--typography--text-shadow: calc(var(--typography--underline--skip) * 1em + var(--typography--weight-adjust, 0em) / 2);
		--typography--underline-offset: calc(var(--typography--underline--shift) * 1em + var(--typography--weight-adjust, 0em) * 2);
	}
}

@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
	@supports not (-moz-appearance: meterbar) {

		body > footer > footer p a:not(._):not(._),
		body > main > section:first-of-type h3 a:not(._):not(._),
		body > main > section:last-of-type > section h3 a:not(._):not(._),
		body > footer > section h3 a:not(._):not(._) {
			--typography--decoration-thickness: calc(var(--typography--underline) * 1em + var(--typography--weight-adjust, 0em));
			--typography--text-shadow: calc(var(--typography--underline--skip) * 1em + var(--typography--weight-adjust, 0em) / 2);
			--typography--underline-offset: calc(var(--typography--underline--shift) * 1em + var(--typography--weight-adjust, 0em) * 2);
		}
	}
}

@supports (-webkit-hyphens: none) {

	body > footer > footer p a:not(._):not(._),
	body > main > section:first-of-type h3 a:not(._):not(._),
	body > main > section:last-of-type > section h3 a:not(._):not(._),
	body > footer > section h3 a:not(._):not(._) {
		-webkit-text-stroke: initial;
		paint-order: initial;
		text-decoration-skip-ink: auto;
		transition-timing-function: var(--color--transition--curve--tight);
	}

	body > footer > footer p a:not(._):not(._):after,
	body > main > section:first-of-type h3 a:not(._):not(._):after,
	body > main > section:last-of-type > section h3 a:not(._):not(._):after,
	body > footer > section h3 a:not(._):not(._):after {
		opacity: 0.333;
	}
}

body > main > section:first-of-type h2,
body > main > section:last-of-type > section h2,
body > footer > section h2,
body > footer > footer > section:last-child h2 {
	--typography--size: var(--typography--size--tagline);
	margin-bottom: var(--margin);
}

body > main > section:first-of-type h2:not(:first-child),
body > main > section:last-of-type > section h2:not(:first-child),
body > footer > section h2:not(:first-child),
body > footer > footer > section:last-child h2:not(:first-child) {
	margin-top: calc(var(--margin) * 2);
}

body > main > section:first-of-type h3,
body > main > section:last-of-type > section h3,
body > footer > section h3,
body > footer > footer > section:last-child h3 {
	--typography--leading: var(--typography--leading--tagline);
	--typography--size: var(--typography--size--intro);
	--typography--weight-adjust: 0.0075em;
}

body > main > section:first-of-type h3:not(:only-child):not(:first-child),
body > main > section:last-of-type > section h3:not(:only-child):not(:first-child),
body > footer > section h3:not(:only-child):not(:first-child) {
	margin-top: var(--section--spacing);
}

body > main > section:first-of-type h3:not(:only-child):not(:last-child),
body > main > section:last-of-type > section h3:not(:only-child):not(:last-child),
body > footer > section h3:not(:only-child):not(:last-child) {
	margin-bottom: var(--section--spacing);
}

body > main > section:first-of-type p + p,
body > main > section:last-of-type > section p + p,
body > footer > section p + p,
body > footer > footer > section:last-child p + p,
body > main > section:first-of-type p + blockquote,
body > main > section:last-of-type > section p + blockquote,
body > footer > section p + blockquote,
body > footer > footer > section:last-child p + blockquote,
body > main > section:first-of-type p + ul,
body > main > section:last-of-type > section p + ul,
body > footer > section p + ul,
body > footer > footer > section:last-child p + ul,
body > main > section:first-of-type blockquote + p,
body > main > section:last-of-type > section blockquote + p,
body > footer > section blockquote + p,
body > footer > footer > section:last-child blockquote + p,
body > main > section:first-of-type blockquote + blockquote,
body > main > section:last-of-type > section blockquote + blockquote,
body > footer > section blockquote + blockquote,
body > footer > footer > section:last-child blockquote + blockquote,
body > main > section:first-of-type blockquote + ul,
body > main > section:last-of-type > section blockquote + ul,
body > footer > section blockquote + ul,
body > footer > footer > section:last-child blockquote + ul,
body > main > section:first-of-type ul + p,
body > main > section:last-of-type > section ul + p,
body > footer > section ul + p,
body > footer > footer > section:last-child ul + p,
body > main > section:first-of-type ul + blockquote,
body > main > section:last-of-type > section ul + blockquote,
body > footer > section ul + blockquote,
body > footer > footer > section:last-child ul + blockquote,
body > main > section:first-of-type ul + ul,
body > main > section:last-of-type > section ul + ul,
body > footer > section ul + ul,
body > footer > footer > section:last-child ul + ul {
	margin-top: var(--margin);
}

body > main > section:first-of-type blockquote,
body > main > section:last-of-type > section blockquote,
body > footer > section blockquote,
body > footer > footer > section:last-child blockquote {
	--typography--scale: 0.9;
	font-style: italic;
}

body > main > section:first-of-type ul,
body > main > section:last-of-type > section ul,
body > footer > section ul,
body > footer > footer > section:last-child ul {
	margin-left: var(--margin);
}

body > main > section:first-of-type ul > li,
body > main > section:last-of-type > section ul > li,
body > footer > section ul > li,
body > footer > footer > section:last-child ul > li {
	position: relative;
}

body > main > section:first-of-type ul > li strong,
body > main > section:last-of-type > section ul > li strong,
body > footer > section ul > li strong,
body > footer > footer > section:last-child ul > li strong {
	font-style: italic;
}

body > main > section:first-of-type ul > li:first-child,
body > main > section:last-of-type > section ul > li:first-child,
body > footer > section ul > li:first-child {
	margin-top: var(--typography--margin--top);
}

body > main > section:first-of-type ul > li:not(:first-child),
body > main > section:last-of-type > section ul > li:not(:first-child),
body > footer > section ul > li:not(:first-child) {
	margin-top: calc(var(--margin) + var(--typography--margin--top));
}

body > main > section:first-of-type ul > li:before,
body > main > section:last-of-type > section ul > li:before,
body > footer > section ul > li:before,
body > footer > footer > section:last-child ul > li:before {
	content: "•";
	left: calc(-1 * var(--margin));
	position: absolute;
	top: calc(-1 * var(--typography--margin--top));
	visibility: visible;
}

body > main > section:first-of-type a,
body > main > section:last-of-type > section a,
body > footer > section a,
body > footer > footer > section:last-child a {
	--typography--decoration-thickness: calc(var(--typography--underline) * 1em);
	--typography--text-shadow: calc(var(--typography--underline--skip) * 1em);
	--typography--underline-offset: calc(var(--typography--underline--shift) * 1em);
	text-decoration-color: var(--color);
	text-decoration-line: underline;
	text-decoration-thickness: var(--typography--decoration-thickness);
	text-underline-offset: calc(-1 * var(--typography--underline-offset) + var(--typography--decoration-thickness) + var(--typography--underline-offset--extra, 0em));
	transition-duration: var(--color--transition);
	transition-timing-function: var(--color--transition--curve--tight), var(--color--transition--curve);
}

@supports (-moz-appearance: meterbar) {

	body > main > section:first-of-type a,
	body > main > section:last-of-type > section a,
	body > footer > section a,
	body > footer > footer > section:last-child a {
		--typography--underline-offset--extra: calc(var(--typography--decoration-thickness) / 2);
	}
}

@supports (-webkit-hyphens: none) {

	body > main > section:first-of-type a,
	body > main > section:last-of-type > section a,
	body > footer > section a,
	body > footer > footer > section:last-child a {
		--typography--underline-offset--extra: calc(var(--typography--decoration-thickness) / 2);
	}
}

@supports (-webkit-hyphens: none) {

	body > main > section:first-of-type a,
	body > main > section:last-of-type > section a,
	body > footer > section a,
	body > footer > footer > section:last-child a {
		-webkit-text-stroke-color: var(--color--background);
		-webkit-text-stroke-width: calc(var(--typography--decoration-thickness) * 2);
		paint-order: stroke fill;
		text-decoration-skip-ink: none;
		transition-property: text-decoration-color, -webkit-text-stroke-color;
	}
}

@supports (-moz-appearance: meterbar) {

	body > main > section:first-of-type a,
	body > main > section:last-of-type > section a,
	body > footer > section a,
	body > footer > footer > section:last-child a {
		text-shadow: var(--color--background) var(--typography--text-shadow) 0, var(--color--background) var(--typography--text-shadow) calc(var(--typography--text-shadow) / 2), var(--color--background) 0 calc(var(--typography--text-shadow) / 2), var(--color--background) calc(-1 * var(--typography--text-shadow)) calc(var(--typography--text-shadow) / 2), var(--color--background) calc(-1 * var(--typography--text-shadow)) 0, var(--color--background) calc(-1 * var(--typography--text-shadow)) calc(-1 * var(--typography--text-shadow) / 2), var(--color--background) 0 calc(-1 * var(--typography--text-shadow) / 2), var(--color--background) var(--typography--text-shadow) calc(-1 * var(--typography--text-shadow) / 2);
		transition-property: text-decoration-color, text-shadow;
	}
}

@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
	@supports not (-moz-appearance: meterbar) {

		body > main > section:first-of-type a,
		body > main > section:last-of-type > section a,
		body > footer > section a,
		body > footer > footer > section:last-child a {
			text-shadow: var(--color--background) var(--typography--text-shadow) 0, var(--color--background) var(--typography--text-shadow) calc(var(--typography--text-shadow) / 2), var(--color--background) 0 calc(var(--typography--text-shadow) / 2), var(--color--background) calc(-1 * var(--typography--text-shadow)) calc(var(--typography--text-shadow) / 2), var(--color--background) calc(-1 * var(--typography--text-shadow)) 0, var(--color--background) calc(-1 * var(--typography--text-shadow)) calc(-1 * var(--typography--text-shadow) / 2), var(--color--background) 0 calc(-1 * var(--typography--text-shadow) / 2), var(--color--background) var(--typography--text-shadow) calc(-1 * var(--typography--text-shadow) / 2);
			transition-property: text-decoration-color, text-shadow;
		}
	}
}

:root {
	--logo--scale: 0.618;
	--typography--leading: 1.2;
	--typography--leading--tagline: 1;
	--typography--size: 2rem;
	--typography--size--logo: calc(var(--typography--size) * 4);
	--typography--size--tagline: calc(var(--typography--size) * 4 / 3);
	--typography--size--intro: calc(var(--typography--size) * 2);
	--typography--size--footer: calc(var(--typography--size) * 0.8);
	--margin: calc(var(--typography--size) * 1.2);
	--margin--vertical: var(--margin);
	--pagination--size: calc(var(--typography--size--logo) * 0.125);
	--pagination--size--scaled: calc(var(--pagination--size) * var(--logo--scale));
	--pagination--gutter: calc(var(--pagination--size--scaled) + var(--margin));
	--stroke--width: calc(var(--typography--size--tagline) * 0.0666);
	--page--width: 100vw;
	--page--inset--right: 0.6rem;
	--page--inset--bottom: calc(env(safe-area-inset-bottom) * 13 / 34);
	--column--ratio: 0.382fr 0.618fr;
	--column--ratio--pagination: 1fr var(--pagination--size--scaled);
	--color--art: hsl(360, 55%, 48%);
	--color--media: hsl(42, 88%, 48%);
	--color--science: hsl(212, 75%, 40%);
	--color--transition: 400ms;
	--color--transition--cycle: 8s;
	--color--transition--curve: cubic-bezier(0.37, 0, 0.63, 1);
	--color--transition--curve--tight: cubic-bezier(0.83, 0, 0.17, 1);
	--color--link: hsl(0, 0%, 0%, 3.333%);
	--color--link--reverse: hsl(0, 0%, 100%, 6.666%);
	--link--enlargement: 0.4rem;
	--link--highlight: var(--color--link--reverse);
	--link--outline: 0.2rem;
	scroll-behavior: smooth;
}

@media (max-width: 23.375em) {
	:root {
		--typography--size: calc((20/375) * 100vw);
	}
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	:root {
		--logo--scale: 0.75;
		--typography--size--logo: calc(var(--typography--size) * 3.5);
		--page--inset--bottom: calc(env(safe-area-inset-bottom) * 26 / 41);
		--column--ratio--pagination: calc((100% - var(--margin)) * 0.382) var(--pagination--size--scaled);
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	:root {
		--logo--scale: 0.618;
		--typography--size: clamp(2.4rem, (24/1440) * 100vw, 2.8rem);
		--typography--size--logo: calc(var(--typography--size) * 4.5);
		--typography--size--tagline: calc(var(--typography--size) * 1.5);
		--typography--size--footer: calc(var(--typography--size) * 0.75);
		--margin: calc(var(--typography--size) * 1.5);
		--page--inset--right: 0.8rem;
		--link--enlargement: 0.8rem;
	}
}

@media (min-width: 61.25em) {
	:root {
		--typography--size--logo: calc(var(--typography--size) * 5.5);
		--margin: calc(var(--typography--size) * 2);
	}
}

@media (min-width: 102.5em) {
	:root {
		--page--width: 164rem;
	}
}

@media (min-width: 110.75em) and (min-height: 64em) {
	:root {
		--typography--size--logo: calc(var(--typography--size) * 6.5);
		--margin--vertical: calc(var(--margin) * 2);
		--page--inset--right: 0rem;
		--pagination--gutter: calc(var(--margin) * 2);
	}
}

@supports (-webkit-hyphens: none) and (-webkit-touch-callout: none) {
	:root {
		--color--link: hsl(0, 0%, 0%, 10%);
		--color--link--reverse: hsl(0, 0%, 100%, 20%);
	}
}

:root.clockwise,
:root.counter-clockwise {
	--iphone--notch: 1.3rem;
}

:root.clockwise {
	--page--inset--left: 0.4rem;
	--page--inset--right: calc(env(safe-area-inset-right) - var(--iphone--notch) + 0.4rem);
}

:root.counter-clockwise {
	--page--inset--left: calc(env(safe-area-inset-left) - var(--iphone--notch));
	--page--inset--right: 0.6rem;
}

:root.loading {
	scroll-behavior: auto;
}

:root.windows {
	--scrollbar--custom: 1.2rem;
	--scrollbar--tint: rgba(0, 0, 0, 0.1333);
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar--tint) var(--scrollbar--tint);
}

:root.windows::-webkit-scrollbar {
	width: var(--scrollbar--custom);
}

:root.windows::-webkit-scrollbar-track {
	background-color: var(--scrollbar--tint);
}

:root.windows::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar--tint);
	border-radius: 0.15rem;
}

body {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: var(--page--inset--bottom, 0rem);
	padding-left: var(--page--inset--left, 0rem);
	padding-right: var(--page--inset--right, 0rem);
	width: calc(var(--page--width) - var(--scrollbar, 0rem));
}

body {
	--logo--height--scaled: calc(var(--logo--height) * var(--logo--scale, 1));
	--scroll--scale: calc(1 - (1 - var(--logo--scale)) * var(--logo--scroll));
	--scroll--scale--duration: 50ms;
	--header--height: calc(var(--logo--height) + var(--tagline--height) + var(--margin--vertical) * 3);
	--header--height--scrolled: calc(var(--logo--height--scaled) + var(--tagline--height) + var(--margin--vertical) * 3);
	--header--height--scrolled--footer: calc(var(--tagline--height) + var(--links--height) + var(--margin--vertical) * 3);
	--header--scroll: calc((var(--vh--initial, 100vh) - var(--header--height)) / 2);
	--anchor--offset: var(--margin--vertical);
	--anchor--offset--section: calc(var(--anchor--offset) + var(--header--height--scrolled));
	--anchor--offset--about: calc(var(--anchor--offset) + var(--header--height--scrolled--footer));
	--section--spacing: calc(var(--margin--vertical) * 4);
	--section--overlap: 1.2rem;
	--section--height: calc(var(--vh--initial, 100vh) - var(--header--height--scrolled) - var(--section--spacing) - var(--anchor--offset) - var(--section--overlap));
	--footer--spacing: calc(var(--section--spacing) * 2);
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body {
		--anchor--offset--section: var(--margin--vertical);
		--anchor--offset--about: calc(var(--margin--vertical) - 0.1rem);
		--section--overlap: calc(var(--tagline--height) + var(--margin--vertical));
		--section--height: calc(var(--vh--initial, 100vh) - var(--section--spacing) - var(--anchor--offset) - var(--section--overlap));
		--footer--spacing: calc(var(--inner-height, 100vh) - var(--tagline--height) - var(--colophon--height) - var(--margin) - var(--page--inset--bottom));
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body {
		--scroll--offset: calc(var(--tagline--height) + var(--margin--vertical) + var(--links--height));
		--footer--spacing: calc(var(--inner-height, 100vh) - var(--colophon--height) - var(--margin--vertical) - var(--outro--height, var(--scroll--offset)));
	}
}

body {
	--color: white;
	--color--background: var(--color--cycle, var(--color--accent));
	--color--accent: white;
}

body:before {
	content: "";
	position: absolute;
}

body,
body:before,
body > main > header,
body > footer > aside {
	background-color: var(--color--background);
	transition-duration: var(--color--transition);
	transition-property: background-color;
	transition-timing-function: var(--color--transition--curve);
}

body:before {
	transition-duration: 0ms;
}

body [href="#art"],
body [href="#media"],
body [href="#science"],
body h2,
body h3,
body p {
	color: var(--color);
	transition-duration: 0ms, var(--color--transition);
	transition-property: background-color, color;
	transition-timing-function: var(--color--transition--curve--tight);
}

body menu [href="#art"]:before,
body menu [href="#media"]:before,
body menu [href="#science"]:before {
	background-color: var(--color);
	transition-duration: var(--color--transition);
	transition-property: background-color;
	transition-timing-function: var(--color--transition--curve--tight);
}

body svg {
	fill: currentcolor;
	stroke-width: var(--stroke--width);
	stroke: currentcolor;
}

body nav [href="#intro"],
body nav [href="#about"],
body nav [href="#top"] {
	color: var(--color);
	opacity: 0;
	transition-duration: var(--color--transition);
	transition-property: opacity, visibility;
	transition-timing-function: var(--color--transition--curve);
	visibility: hidden;
}

body nav [href="#intro"],
body nav [href="#top"] {
	--color: white;
}

body nav [href="#about"] {
	--color: black;
	transition-delay: calc(var(--color--transition) / 2);
}

body nav [href="#intro"] {
	transition-delay: var(--color--transition);
}

body nav [href="#top"] {
	transition-delay: calc(var(--color--transition) * 2);
}

body.art {
	--color--accent: var(--color--art);
}

body.media {
	--color--accent: var(--color--media);
}

body.science {
	--color--accent: var(--color--science);
}

body.main {
	--color: black;
	--color--background: white;
	--link--highlight: var(--color--link);
}

body.main,
body.main > main > header,
body.main > footer > aside {
	transition-duration: var(--color--transition);
}

body.main:before {
	--color--background: var(--color--accent);
	transition-duration: 0ms;
}

body.main.art [href="#art"],
body.main.media [href="#media"],
body.main.science [href="#science"] {
	--color: var(--color--accent);
}

body.main [href="#art"],
body.main [href="#media"],
body.main [href="#science"],
body.main:before {
	filter: brightness(1.1);
}

body.cycling:not(.main),
body.cycling:not(.main):before,
body.cycling:not(.main) > main > header,
body.cycling:not(.main) > footer > aside,
body.cycling:not(.main) p a {
	transition-duration: var(--color--transition--cycle);
}

body.top nav [href="#intro"] {
	opacity: 1;
	visibility: visible;
}

body.header:not(.top) nav [href="#intro"] {
	transition-delay: 0ms;
	transition-duration: var(--color--transition);
}

body.main nav [href="#about"] {
	opacity: 1;
	visibility: visible;
}

body.header nav [href="#about"],
body.footer nav [href="#about"] {
	transition-delay: 0ms;
	transition-duration: calc(var(--color--transition) / 2);
}

body.bottom nav [href="#top"] {
	opacity: 1;
	transition-delay: var(--color--transition);
	visibility: visible;
}

.loading body {
	--color--background: white;
	opacity: 0;
}

.loading body:before {
	--color--background: transparent;
}

.loading body:not(.main) nav [href="#intro"],
.loading body:not(.main) nav [href="#top"] {
	transition-delay: 0ms;
	transition-duration: 0ms;
}

body > main,
body > footer {
	display: grid;
	grid-template-columns: 1fr;
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {

	body > main,
	body > footer {
		column-gap: var(--margin);
		grid-template-columns: var(--column--ratio);
		padding-left: var(--margin);
		padding-right: var(--margin);
	}
}

body > main > section,
body > footer > section {
	padding-left: var(--margin);
	padding-right: var(--margin);
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {

	body > main > section,
	body > footer > section {
		grid-column: 2;
		margin-right: var(--pagination--gutter);
		padding-left: initial;
		padding-right: initial;
		z-index: 1;
	}
}

body > main > header,
body > footer > aside,
body > footer > footer {
	align-content: space-between;
	column-gap: var(--margin);
	display: grid;
	grid-auto-rows: min-content;
	grid-template-columns: var(--column--ratio--pagination);
	justify-content: space-between;
	padding-bottom: var(--margin--vertical);
	padding-left: var(--margin);
	padding-right: var(--margin);
	position: sticky;
	z-index: 1;
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {

	body > main > header,
	body > footer > aside,
	body > footer > footer {
		grid-column: 1/span 2;
		padding-left: initial;
		padding-right: initial;
		z-index: initial;
	}
}

body > main {
	position: sticky;
	top: calc(-1 * var(--main--height) + var(--tagline--height) + var(--margin--vertical) * 2 - 0.1rem);
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body > main {
		z-index: 1;
	}
}

body > main > header > menu,
body > main > header > section:first-of-type > h1 {
	transform: scale(var(--scroll--scale));
	transition-duration: var(--scroll--scale--duration);
	transition-property: transform;
	transition-timing-function: linear;
	will-change: transform;
}

body > main > header > menu [href="#media"],
body > main > header > section:first-of-type > h1 [href="#media"],
body > main > header > menu [href="#science"],
body > main > header > section:first-of-type > h1 [href="#science"] {
	--scroll--bounce: -8%;
	transition-duration: 0ms, var(--color--transition), var(--scroll--scale--duration);
	transition-property: background-color, color, transform;
	transition-timing-function: var(--color--transition--curve--tight), var(--color--transition--curve--tight), linear;
	will-change: transform;
}

body > main > header > menu li [href="#media"],
body > main > header > section:first-of-type > h1 li [href="#media"],
body > main > header > menu li [href="#science"],
body > main > header > section:first-of-type > h1 li [href="#science"] {
	--scroll--bounce: -25%;
}

body > main > header > menu [href="#media"],
body > main > header > section:first-of-type > h1 [href="#media"] {
	transform: translateY(calc(var(--scroll--bounce) * var(--logo--bounce)));
}

body > main > header > menu [href="#science"],
body > main > header > section:first-of-type > h1 [href="#science"] {
	transform: translateY(calc(2 * var(--scroll--bounce) * var(--logo--bounce)));
}

body > main > header {
	align-items: start;
	grid-template-areas: "logo    pagination""tagline button";
	height: var(--vh--initial, 100vh);
	padding-top: var(--margin--vertical);
	top: calc(var(--header--height--scrolled) - var(--vh--initial, 100vh));
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body > main > header {
		height: calc(100vh + var(--header--scroll));
		margin-left: calc(-1 * var(--margin));
		padding-left: var(--margin);
		top: calc(-1 * var(--header--scroll));
	}
}

body > main > header > section:first-of-type {
	flex-shrink: 0;
	grid-area: logo;
	height: var(--logo--height--scaled);
	margin-bottom: calc(var(--tagline--height) + var(--margin--vertical));
	margin-top: var(--header--scroll);
	position: sticky;
	top: var(--margin--vertical);
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body > main > header > section:first-of-type {
		margin-bottom: calc(var(--vh--initial, 100vh) - var(--logo--height--scaled) - var(--margin--vertical) * 2);
	}
}

body > main > header > section:first-of-type > h1 {
	--typography--size: var(--typography--size--logo);
	--typography--leading: 0.8;
	align-items: start;
	display: flex;
	flex-direction: column;
	position: absolute;
	transform-origin: left top;
}

body > main > header > section:first-of-type > h1 > a {
	--link--outline--override: calc((1 + (var(--logo--scale) * var(--logo--scroll))) * var(--link--outline));
	border-bottom: initial;
	border-top: initial;
	margin-bottom: initial;
	margin-top: initial;
	pointer-events: none;
	position: relative;
}

body > main > header > section:first-of-type > h1 > a:before {
	content: "";
	display: block;
	height: 100%;
	pointer-events: auto;
	position: absolute;
	width: 100%;
}

body > main > header > section:first-of-type > h1 [href="#art"] .a {
	letter-spacing: -0.04em;
}

body > main > header > section:first-of-type > h1 [href="#media"] .m {
	letter-spacing: -0.04em;
}

body > main > header > section:first-of-type > h1 [href="#media"] .d {
	letter-spacing: 0.02em;
}

body > main > header > section:first-of-type > h1 [href="#science"] .s {
	letter-spacing: -0.01em;
}

body > main > header > section:first-of-type > h1 [href="#science"] .i {
	letter-spacing: -0.015em;
}

body > main > header > section:first-of-type > h1 [href="#science"] .n {
	letter-spacing: -0.02em;
}

body > main > header > section:first-of-type > h1 [href="#science"] .e {
	letter-spacing: -0.02em;
}

body > main > header > section:last-of-type {
	bottom: var(--margin--vertical);
	display: flex;
	flex-shrink: 0;
	grid-area: tagline;
	position: sticky;
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body > main > header > section:last-of-type {
		margin-top: calc(-1 * var(--tagline--height));
	}
}

body > main > header > section:last-of-type > a > p {
	--typography--leading: var(--typography--leading--tagline);
	--typography--size: var(--typography--size--tagline);
}

body > main > header > menu {
	display: flex;
	flex-direction: column;
	gap: calc(var(--pagination--size) * 1.25);
	grid-area: pagination;
	justify-self: center;
	margin-bottom: calc(var(--tagline--height) * -1);
	position: sticky;
	top: calc(var(--margin--vertical) + var(--pagination--size) / 3);
	transform-origin: center top;
	z-index: 1;
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body > main > header > menu {
		top: calc(var(--margin--vertical) + var(--pagination--size) / 4);
	}
}

body > main > header > menu > li {
	display: flex;
}

body > main > header > menu > li > a {
	border-radius: 50%;
}

body > main > header > menu > li > a:active {
	border-radius: 50%;
}

body > main > header > menu > li > a:before {
	border-radius: 50%;
	content: "";
	display: block;
	height: var(--pagination--size);
	width: var(--pagination--size);
}

body > main > header > nav {
	bottom: var(--margin--vertical);
	height: var(--tagline--height);
	position: sticky;
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body > main > header > nav {
		margin-top: calc(var(--tagline--height) * -1);
	}
}

body > main > section:first-of-type {
	margin-top: calc(var(--header--scroll));
	min-height: var(--section--height);
	scroll-margin-top: var(--anchor--offset--section);
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body > main > section:first-of-type {
		grid-row: 2;
		margin-top: initial;
	}
}

body > main > section:last-of-type {
	margin-bottom: var(--section--spacing);
	margin-top: calc(var(--section--spacing) + 25vh);
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body > main > section:last-of-type {
		grid-row: 3;
		margin-bottom: calc(var(--section--spacing) + var(--section--overlap));
	}
}

body > main > section:last-of-type #art {
	margin-top: -25vh;
}

body > main > section:last-of-type #art,
body > main > section:last-of-type #media,
body > main > section:last-of-type #science {
	min-height: var(--section--height);
	scroll-margin-top: var(--anchor--offset--section);
}

body > main > section:last-of-type #media,
body > main > section:last-of-type #science {
	margin-top: var(--section--spacing);
}

body > footer {
	min-height: calc(100vh - var(--tagline--height) - var(--margin--vertical) * 2);
}

body > footer > aside {
	align-items: end;
	grid-template-areas: "links button";
	margin-bottom: calc(-1 * var(--margin--vertical));
	top: calc(var(--tagline--height) + var(--margin--vertical) * 2 - 0.2rem);
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body > footer > aside {
		align-self: end;
		bottom: var(--margin--vertical);
		grid-row: 1;
		margin-bottom: initial;
		padding-bottom: initial;
		top: initial;
	}
}

@media (min-width: 48em) and (min-height: 30em),
(min-width: 58.125em) {
	body > footer > aside {
		top: calc(var(--tagline--height) + var(--margin--vertical) * 2);
	}
}

body > footer > aside > ul {
	--typography--leading: var(--typography--leading--tagline);
	--typography--size: var(--typography--size--tagline);
	align-items: start;
	display: flex;
	grid-area: links;
	flex-direction: column;
	gap: var(--typography--between);
}

body > footer > aside > ul > li > a > p > svg {
	--icon--shift: calc((var(--typography--cap-height) - var(--typography--x-height)) / 2 * 1em);
	height: calc(var(--typography--cap-height) * 1em);
	margin-bottom: calc(var(--icon--shift) * -1);
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body > footer > aside > section {
		align-items: end;
		display: flex;
		height: calc(var(--links--height) + var(--footer--spacing) + var(--colophon--height) - var(--margin--vertical));
		justify-content: center;
		margin-bottom: calc(-1 * var(--footer--spacing) - var(--colophon--height) + var(--margin--vertical));
		transition-duration: calc(var(--color--transition) / 2);
		transition-property: height, margin-bottom;
		will-change: height, margin-bottom;
	}

	body > footer > aside > section > nav {
		bottom: var(--margin--vertical);
		position: sticky;
	}

	body > footer > aside > section > nav > a {
		transform: translateY(var(--link--enlargement));
	}
}

body > footer > section {
	margin-top: var(--section--spacing);
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body > footer > section {
		grid-row: 1;
		margin-top: calc(-1 * var(--section--overlap));
	}
}

body > footer > section,
body > footer > section h2 {
	scroll-margin-top: var(--anchor--offset--about);
}

body > footer > section > h3:last-child {
	margin-bottom: calc(-1 * var(--footer--spacing) / 2);
	min-height: calc(var(--inner-height, 100vh) - var(--header--height--scrolled--footer) - var(--colophon--height) - var(--footer--spacing) / 2 - var(--margin));
	transition-duration: calc(var(--color--transition) / 2);
	transition-property: min-height;
	will-change: min-height;
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body > footer > section > h3:last-child {
		margin-bottom: initial;
		min-height: initial;
	}
}

body > footer > footer {
	grid-template-columns: 1fr;
	margin-top: var(--footer--spacing);
	row-gap: var(--margin);
	transition-duration: calc(var(--color--transition) / 2);
	transition-property: margin-top;
	will-change: margin-top;
	pointer-events: none;
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body > footer > footer {
		grid-template-columns: var(--column--ratio);
	}
}

body > footer > footer p {
	--typography--size: var(--typography--size--footer);
	--typography--weight-adjust: 0.01em;
}

body > footer > footer > section {
	pointer-events: auto;
}

body > footer > footer > section:last-child {
	margin-right: var(--margin);
}

@media (orientation: landscape),
(min-width: 35.5em) and (min-height: 30em),
(min-width: 58.125em) {
	body > footer > footer > section:last-child {
		margin-right: var(--pagination--gutter);
	}
}

body nav {
	align-items: end;
	display: flex;
	justify-content: center;
	grid-area: button;
}

body nav > a {
	position: absolute;
}

body nav > a > svg {
	height: calc(var(--typography--size--tagline) * 1.333);
	transform: translate(var(--icon--shift--x, 0rem), var(--icon--shift--y, 0rem)) rotate(var(--icon--rotation, 0deg));
	width: calc(var(--typography--size--tagline) * 1.333);
	--icon--shift--x: 0.05em;
	--icon--shift--y: 0.0333em;
}

@media (-webkit-min-device-pixel-ratio: 2) {
	body nav > a > svg {
		--icon--shift--x: 0.025em;
		--icon--shift--y: 0em;
	}
}

@media (-webkit-min-device-pixel-ratio: 3) {
	body nav > a > svg {
		--icon--shift--x: 0.0166em;
	}
}

body nav > a[href="#intro"] > svg {
	--icon--rotation: 90deg;
}

body nav > a[href="#top"] > svg {
	--icon--rotation: -90deg;
}