<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta	content="initial-scale=1, width=device-width, viewport-fit=cover" name="viewport">
		{% include metadata.html %}
		<link href="{{ '/assets/styles/index.css' | relative_path }}" rel="stylesheet">
		<script src="{{ '/assets/scripts/index.js' | relative_path }}"></script>
	</head>
	<body id="top" class="loading">
		<main data-main>
			{% include header.html %}
			{% comment %} This Liquid mess uses hr/h1 to define content sections from one Markdown file. {% endcomment %}
			{% assign intro = content | split: '<h1 ' | first %}
			{% assign nouns = content | split: '<hr />' | first | split: '<h1 ' | shift %}
			{% assign about = content | split: '<hr />' | last %}
			<section id="intro" tabindex="0">
				{{ intro }}
			</section>
			<section data-content>
				{% for noun in nouns %}
					{% assign noun_id = noun | split: '>' | first %}
					{% assign noun_content = noun | split: '</h1>' | last %}
					<section {{ noun_id }} tabindex="0">
						{{ noun_content }}
					</section>
				{% endfor %}
			</section>
		</main>
		<footer>
			<section id="about" tabindex="0">
				{{ about }}
			</section>
			{% include aside.html %}
		</footer>
	</body>
</html>
