<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta	content="initial-scale=1, width=device-width, viewport-fit=cover" name="viewport">
		{% include metadata.html %}
		<link href="{{ '/assets/styles/index.css' | relative_path }}" rel="stylesheet">
		<script src="{{ '/assets/scripts/index.js' | relative_path }}"></script>
	</head>
	<body id="top" >
		<main data-main>
			{% include nav.html %}
			<figure>
				<a href="#top">
					{% include icons/venn.svg %}
				</a>
			</figure>
			<section data-nouns>
				{% assign nouns = content | split: '<hr />' | first | split: '<h1 ' | shift %}
				{% for noun in nouns %}
					{% assign noun_id = noun | split: '>' | first %}
					{% assign noun_content = noun | split: '</h1>' | last %}
					<section {{ noun_id }}>
						{{ noun_content }}
					</section>
				{% endfor %}
			</section>
		</main>
		<footer>
			{% include aside.html %}
			<section id="about">
				{% assign about = content | split: '<hr />' | last %}
				{{ about }}
			</section>
		</footer>
	</body>
</html>
